body{
   
    background-color: #fffbf0;
    
}
.button-customize{
    background-color: palevioletred;
    color: white;
    border-radius: 10px;
    padding: 2%;
}


.penguin-footer{
    border: 0;
    background-color: white;
}
.almost-orrange{
    color: #fabe4c;
}
.almost-violet{
    color: #363958;
}
h1{
   font-size: 50px;
}
.font-h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
}
.penguin-card{
    border: 0;

}
#female-jacket2{
    height: 430px;
    width: 120%;
    padding-right: 30px;
    padding-left: -50px;
    
    
}
#female-jacket1{
    height: 430px;
    margin-left: 10px;
   
}
#female-jacket3{
    height: 430px;
}
.male-jacket{
    height: 430px;
}
.price-color{
    color: goldenrod;
}
.sercice-area{
    border-radius: 10px;
}
.extra-part{
    background-color: black;
    padding: 3%;
    border-radius: 15px;
    color: #c6c6c6;
}
#get-in-touch{
    color: #be9e07;
}
.font-awsome{
    color:  #be9e07;
}
.submit-button{
    border: 0;
    background-color:  #be9e07;
    color: black;
    border-radius: 20px;
}
input:hover{
    background-color: skyblue;
    font-size: 20px;
}
textarea:hover{
    background-color: lightskyblue;
}
.submit-button:hover{
    background-color: yellowgreen;
}